* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

/* CSS Variable */

:root {
  /* ## Colors */

  /* primary */

  --primary-950: hsl(0, 0%, 7%);
  --primary-500: hsl(0, 0%, 42%);
  --primary-400: hsl(47, 88%, 63%);

  /* neutral */

  --neutral-100: hsl(0, 0%, 100%);
}

/* custom fonts */

@font-face {
  font-family: "Figtree";
  src: url(assets/fonts/static/Figtree-Medium.ttf) format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url(assets/fonts/static/Figtree-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-display: swap;
}



/* base styling */

body {
  display: grid;
  place-content: center;
  place-items: center;
  gap: 3rem;
  font-family: "Figtree", sans-serif;
  background-color: var(--primary-400);
  padding: 1rem;
  min-height: 100vh;
}

/* componenet styling */

.blog-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: 1px solid black;
  background-color: var(--neutral-100);
  padding: 1.5rem;
  border-radius: 1.3rem;
  max-width: 330px;
  box-shadow: 8px 8px 0 0 var(--primary-950);
}

.blog-img {
  overflow: hidden;
  border-radius: 1.3rem;
}

.blog-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.8rem;
}

.blog-category {
  border-radius: 0.3rem;
  padding: 0.3rem 0.8rem;
  background-color: var(--primary-400);
  font-weight: 800;
}

.publish-date {
  font-size: 0.8rem;
}
.blog-title {
  font-size: 1.3rem;
}

.blog-title:hover {
  color: var(--primary-400);
  cursor: pointer;
}

.blog-description {
  line-height: 1.5;
  color: var(--primary-500);
}

.author-info {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-weight: 800;
}

.author-pic {
  width: 32px;
}

/* footer */

.attribution {
  text-align: center;
}
.attribution a {
  font-size: 1.2rem;
  background: #000000;
  background: linear-gradient(to right, #000000 0%, #6b6b6b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* responsive */

@media (min-width: 750px) {
  .blog-card {
    max-width: 390px;
  }
}
